<app-header></app-header>
<div  class="mx-auto" style="padding: 5%;">
  <mat-card-title fxLayoutAlign="center"> {{ title | uppercase }}</mat-card-title>
  <br>
  <label>{{searchTitle}}</label>
    <div style="overflow:auto;">
      <input type="text" [value]="search" (keyup)="keyInput($event.target.value)"/>
      <button (click)="searchFormData()">ค้นหา</button>
      <table style="width:100%">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
          <th>Job</th>
        </tr>
        <tr *ngFor="let item of formData">
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td [ngClass]="{'green' : item.age % 2 == 0}">{{item.age}}</td>
          <td>{{item.job}}</td>
        </tr>
      </table>
    </div>
</div>
<app-footer></app-footer>
<!-- | filter: search -->
